#ignore data and config folders
data/
data_test/
venv_dev/
logs/
.env
docker-compose.yml
app_config/
# VS Code personal settings
.vscode/settings.json
# Python bytecode files
__pycache__/
*.pyc
*.pyo
*.pyd